<div class="jumbotron text-center">
    <h1>Login</h1>
    <p>If you have created an account with us, come on board and <span class="text-danger">Log-in!</span></p>
</div>

<div ng-controller="profileController">
    <p class="help-block alert-info">All fields are required.</p>
    <p class="help-block">For your privacy and safety, your email address will not be displayed anywhere on your property listing.</p>

    <form ng-submit="login()" name="profileForm" novalidate>

    <!-- Email Address -->
    <div class="form-group" ng-class="{ 'has-error' : profileForm.email.$invalid && !profileForm.email.$pristine }">
        <label>Email Address (Username) </label>
        <input type="email" class="form-control" name="email" ng-model="profile.email" placeholder="Enter a valid email address.." required>
        <p ng-show="profileForm.email.$invalid && !profileForm.email.$pristine" class="help-block">Enter a valid email address.</p>
    </div>

    <!-- Password -->
    <div class="form-group" ng-class="{ 'has-error' : profileForm.password.$invalid && !profileForm.password.$pristine }">
        <label>Password</label>
        <input type="password" class="form-control" name="password" ng-model="profile.password" placeholder="Enter your password.." required>
        <p ng-show="profileForm.password.$invalid && !profileForm.password.$pristine" class="help-block">Enter a password.</p>
    </div>


    <button type="submit" class="btn btn-default" ng-disabled="profile.$invalid" >Submit</button>

        <pre>
            {{ profile | json }}
        </pre>


</form>
</div>