<div class="jumbotron text-center">
    <h2>My Property Listings</h2>
</div>

<div class="row">

    <div class="col-sm-6">
        <h4>My Property Listings</h4>

        <div ng-controller="CarouselCtrl">

                <div class="col-xs-6">
                    <carousel interval="myInterval">
                        <slide ng-repeat="slide in slides" active="slide.active">
                            <img  class="img-thumbnail" ng-src="{{slide.image}}">
                            <div class="carousel-caption">
                            </div>
                        </slide>
                    </carousel>
                </div>
                    <div class="col-xs-6">
                    <carousel interval="myInterval">
                        <slide ng-repeat="slide in slides" active="slide.active">
                            <img  class="img-thumbnail" ng-src="{{slide.image}}">
                            <div class="carousel-caption">
                               <!-- <h4>Slide {{$index}}</h4>
                                <p>{{slide.text}}</p>-->
                            </div>
                        </slide>
                    </carousel>
                </div>

            <div class="col-xs-6">
                <carousel interval="myInterval">
                    <slide ng-repeat="slide in slides" active="slide.active">
                        <img  class="img-thumbnail" ng-src="{{slide.image}}">
                        <div class="carousel-caption">
                        </div>
                    </slide>
                </carousel>
            </div>
            <div class="col-xs-6">
                <carousel interval="myInterval">
                    <slide ng-repeat="slide in slides" active="slide.active">
                        <img  class="img-thumbnail" ng-src="{{slide.image}}">
                        <div class="carousel-caption">
                        </div>
                    </slide>
                </carousel>
            </div>

        </div>
    </div>

    <div class="col-sm-6">
        <h4>Add Property</h4>
        Google Map Insert Here
        <div ui-view="display"></div>
    </div>

</div>



