/* app css stylesheet overrides */

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.navbar-header .logo img {
    width:95px;
    height:45px;
    margin-top:-10px;
    margin-right:-20px;
}

.jumbotron.text-center img {
    width:50%;
    height:50%;
}

